{% extends 'templates/template.twig' %}
{% block title %}Administrace{% endblock %}
{% block content %}
    <h2>Administrace</h2>
    <div class="form-group col-md-6 col-md-offset-3 col-xs-12">
        <a href="{{ makeURL('user_administration') }}" class="btn btn-default btn-lg btn-block btn-huge">Úprava uživatelů</a>
    </div>
{% endblock %}