{% extends 'templates/template.twig' %}
{% block title %}Administrace uživatelů{% endblock %}
{% block content %}
    <h2>Administrace uživatelů</h2>
    <div class="form-group col-md-6 col-md-offset-3 col-xs-12">
        <form method="post" action="{{ makeURL('user_detail_administration') }}">
        <h3>Vyberte uživatele:</h3>
            <select class="form-control" name="id">
            {% for key, user in users %}
                <option value="{{ user.id }}">{{ user.login }} - {{ user.jmeno }}</option>
            {% endfor %}
            </select>
            <br>
            <button type="submit" class="btn btn-success">Potvrdit</button>
        </form>
    </div>
{% endblock %}