{% extends 'templates/template.twig' %}
{% block title %}Registrace se nepovedla{% endblock %}
{% block content %}
    <h2>Chyba</h2>
    <p>Registrace se nepovedla. Pokud problém přetrvá, kontaktujte administrátora.</p>
{% endblock %}