{% extends 'templates/template.twig' %}
{% block title %}Registrace{% endblock %}
{% block content %}
    <h2>Přihlášení</h2>
    <div class="form-group col-md-6 col-md-offset-3 col-xs-12">
        <form action="{{ makeURL('signin') }}" method="post">
            <input type="text" class="form-control" placeholder="login" name="uzivatel[login]"><br>
            <input type="password" class="form-control" placeholder="heslo" name="uzivatel[heslo]"><br>
            <button type="submit" class="btn btn-success">Přihlásit</button>
        </form>
    </div>
{% endblock %}