{% extends 'templates/template.twig' %}
{% block title %}Zaregistrován(a){% endblock %}
{% block content %}
    <h2>Jste registrován(a)</h2>
    <p>Registrace proběhla v pořádku. Můžete se přihlásit.</p>
{% endblock %}