{% extends 'templates/template.twig' %}
{% block title %}Špatné jméno nebo heslo{% endblock %}
{% block content %}
    <h2>Chyba</h2>
    <p>Nepodařilo se přihlásit. Špatné jméno nebo heslo</p>
{% endblock %}